/.gradle
/local.properties
/.idea
/build
/settings.gradle
/gradlew
/gradlew.bat
/gradle.properties
/dice_images.zip
/build.gradle
/gradle
/app/build
/app/libs 
/app/build.gradle
/app/proguard-rules.pro 
/app/src/androidTest
/app/src/test


